* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.flexbox-container {
  background-image: linear-gradient(#87cefa, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.search-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 237, 237);
  max-width: 570px;
  width: 100%;
  border-radius: 25px;
  padding: 30px 20px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 75px;
}
.search-text-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}
.buttons {
  display: flex;
  margin: 10px;
}

button {
  background-color: rgb(33, 166, 248);
  border-radius: 15px;
  border: none;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: darkgray;
}

.search-lookup {
  border: 2px solid #b8c1c5;
  border-color: #d5d5d5;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 70%;
  padding: 8px;
  cursor: text;
}

hr {
  border-width: 1px;
}

.weather-search-results {
  background-color: white;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}

.city-result {
  font-weight: bold;
  font-size: 16px;
  margin: 15px;
}

.flex-results {
  display: flex;
  flex-direction: column;
}

.temp-icon {
  display: flex;
  padding: 10px;
  align-self: center;
  margin-bottom: 15px;
  max-width: 550px;
  justify-content: space-around;
}

.temp {
  display: flex;
  align-items: center;
  font-size: 42px;
  width: 25%;
}

.forecast-image {
  width: 25%;
}

.result-desc {
  display: flex;
  padding: 0 10px;
}

.result-left {
  width: 50%;
}

.result-right {
  width: 50%;
}

.search-text-result {
  margin: 10px;
}

.red {
  color: rgb(253, 63, 29);
}

.orange {
  color: rgb(241, 157, 0);
}

.light-blue {
  color: rgb(112, 219, 255);
}

.blue {
  color: rgb(0, 183, 255);
}

.none {
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  html {
    background: rgba(236, 236, 236, 0.75);
  }
}
